/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


button.btn.btn-warning {
  margin: 12px;
}
table.table {
  min-height: 340px;
}

h1 {
  margin: 8px;
  text-align: center;
  font-size: larger;
}

form.ng-untouched.ng-pristine.ng-valid {
  margin: 19px;
}

button.btn.btn-success {
  margin: 4px;
}
h2 {
  text-align: center;
}
tr {
  height: 10px;
}
h1.fronth1 {
  font-size: xxx-large;
  margin: auto;
  margin-bottom: 118px;
  min-height: 200px;
  margin-top: 118px;
}
p.card-text {
  height: 109px;
  margin-bottom: 15px;
}

.card-body {
  padding: 16px;
  padding-bottom: 1px;
  height: 232px;
}
img.card-img-top {
  max-height: 300px;
  min-height: 250px;
}
.card-deck {
  display: inherit;
}
.container {
  width: 90% !important;
  max-width: 90%;
}
.card {
  float: left;
  width: 29.333%;
  margin: 33px;
}
